[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/cmake-conan"]
	path = submodules/cmake-conan
	url = https://github.com/conan-io/cmake-conan
